.row {
    width: 100%;
    border: 1px solid #000000;
    display:flex;
    justify-content: center;
    text-align: center;    
}

.col2{
    width: 50%;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col4{
    width: 20%;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



