.row {
    width: 100%;
    border: 1px;
    display:flex;
    justify-content: center;
    text-align: center;    
}



.col2{
    width: 50%;
    border: 1px;
    background-color: #f5eef5;
    color:black;
}

.col2-1{
    width: 50%;
    border: 1px;
    background-color: #faf5f3;
    color:black;
}

.col2-2{
    width: 50%;
    border: 1px;
    background-color: #f2f9f8;
    color:black;
}



.col4{
    width: 25%;
    border: 1px;
    background-color: black;
    color: white;
    
}

.col1{
    width: 100%;
    border: 1px;
    background-color: black;
    color: white;
    
}

.titulo1{
    color:rgb(15, 78, 78)
}

.titulo{
    color: grey;
}

.negro{
    background-color: black;
    color: white;
}

@media screen and (max-width:600px) {
    .row, .col2, .col2-1, .col2-2 {
        display: block;
    }
}
    
